@model WebHotelGranChaco.Dtos.DtoCliente

@{
    ViewData["Title"] = "Editar cliente";
}

<head>
    <link rel="stylesheet" href="~/css/Cliente.css" asp-append-version="true" />
</head>

<hr />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 shadow-sm p-3 mb-5 rounded">
            <h1>Editar cliente</h1>
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id_Cliente" />

                <div class="mb-3">
                    <label for="Nombre" class="form-label">Nombre</label>
                    <input asp-for="Nombre" class="form-control" id="Nombre" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="ApellidoPaterno" class="form-label">Apellido Paterno</label>
                    <input asp-for="ApellidoPaterno" class="form-control" id="ApellidoPaterno" />
                    <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="ApellidoMaterno" class="form-label">Apellido Materno</label>
                    <input asp-for="ApellidoMaterno" class="form-control" id="ApellidoMaterno" />
                    <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="Genero" class="form-label">Género</label>
                    <select asp-for="Genero" class="form-select" id="Genero">
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Indefinido">Indefinido</option>
                    </select>
                    <span asp-validation-for="Genero" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="DocumentoIdentidad" class="form-label">Documento de Identidad</label>
                    <input asp-for="DocumentoIdentidad" class="form-control" id="DocumentoIdentidad" />
                    <span asp-validation-for="DocumentoIdentidad" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="Nacionalidad" class="form-label">Nacionalidad</label>
                    <input asp-for="Nacionalidad" class="form-control" id="Nacionalidad" />
                    <span asp-validation-for="Nacionalidad" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="Telefono" class="form-label">Teléfono</label>
                    <input asp-for="Telefono" class="form-control" id="Telefono" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Guardar</button>
                <a class="btn btn-primary" asp-action="Index">Volver al Listado</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
