<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Gran Chaco</title>
    <style>
        .text-center {
            text-align: center;
        }

        .display-4 {
            font-size: 1.5rem;
        }

        .link-color {
            color: #007bff;
        }
        .carousel-item img {
            width: 800px;
            height: 650px;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <br />
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Imagenes/Img/f4.jpg" class="d-block w-100" alt="..." width="800" height="400">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>¡Descubre el paraíso!</h1>
                        <p class="opacity-75">El Hotel Gran Chaco ofrece una experiencia única en el corazón de la exuberante selva.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Reservar ahora</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Imagenes/Img/f3.jpg" class="d-block w-100" alt="..." width="800" height="400">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Relájate y desconecta</h1>
                        <p>Disfruta de nuestras cómodas habitaciones y del contacto directo con la naturaleza.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Ver servicios</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Imagenes/Img/f2.jpg" class="d-block w-100" alt="..." width="800" height="400">
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Experiencias inolvidables</h1>
                        <p>Desde emocionantes excursiones hasta cenas románticas bajo las estrellas, el Hotel Gran Chaco lo tiene todo.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Explorar actividades</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
    <br />
    <br />
    <div class="text-center" style="box-shadow: 0 4px 6px rgba(0,10,0,0.1);">
        <h1 class="display-4" style="font-size: 4rem;">¡Bienvenido al Hotel Gran Chaco!</h1>
    </div>
    <br />
    <br />
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img src="~/Imagenes/Img/h1.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
                <h2 class="fw-normal">Alojamiento de lujo</h2>
                <p>El Hotel Gran Chaco ofrece habitaciones y suites elegantemente decoradas que te harán sentir como en casa.</p>
                <p><a class="btn btn-secondary" href="#">Ver habitaciones &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img src="~/Imagenes/Img/h3.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
                <h2 class="fw-normal">Gastronomía excepcional</h2>
                <p>Nuestros restaurantes ofrecen una deliciosa variedad de platos locales e internacionales preparados por chefs expertos.</p>
                <p><a class="btn btn-secondary" href="#">Explorar restaurantes &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img src="~/Imagenes/Img/h2.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
                <h2 class="fw-normal">Actividades emocionantes</h2>
                <p>Desde caminatas por la selva hasta paseos en bote por los ríos cercanos, el Hotel Gran Chaco te ofrece una variedad de actividades para todos los gustos.</p>
                <p><a class="btn btn-secondary" href="#">Explorar actividades &raquo;</a></p>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Descubre la belleza de la selva. <span class="text-body-secondary">Una experiencia única.</span></h2>
                <p class="lead">El Hotel Gran Chaco te invita a sumergirte en la exuberante belleza natural de la región. Desde la flora y fauna hasta las cascadas escondidas, cada momento será una aventura.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="~/Imagenes/Img/h5.jpg" width="500" height="500" role="img" aria-label="Imagen: 500x500" alt="Placeholder: 500x500">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Relájate y disfruta. <span class="text-body-secondary">Un oasis de tranquilidad.</span></h2>
                <p class="lead">En el Hotel Gran Chaco, cada momento está diseñado para tu comodidad y relajación. Desde nuestro spa de clase mundial hasta nuestras piscinas cristalinas, te garantizamos una experiencia rejuvenecedora.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="~/Imagenes/Img/h9.jpg" width="500" height="500" role="img" aria-label="Imagen: 500x500" alt="Placeholder: 500x500">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Descubre una experiencia única. <span class="text-body-secondary">Tu escapada perfecta.</span></h2>
                <p class="lead">En el Hotel Gran Chaco, te esperan aventuras emocionantes, relajación total y momentos inolvidables. ¡Reserva ahora y comienza tu viaje hacia el paraíso!</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="~/Imagenes/Img/h6.jpg" width="500" height="500" role="img" aria-label="Imagen: 500x500" alt="Placeholder: 500x500">
            </div>
        </div>

        <hr class="featurette-divider">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</body>

</html>
